<!-- ******FEATURES****** -->
<section id="features" class="features section">
    <div class="container text-center">
        <h2 class="title">Hemen Analiz Etmeye Başlayın !</h2>
        <form action="">
            Analiz etmek istediğiniz kullanıcı: <input type="text" class="inputKullanici" name="usrname" placeholder="Örnek: @("@")TweetScope">
        </form>
        <br />
        <p class="text-center">
            @Html.ActionLink("Başla", "Analyze", "Home", null, new {@class = "btn btn-cta-secondary", target="_blank" })
        </p>
    </div><!--//container-->
</section><!--//features-->
