<!-- ******FEATURES****** -->
<section id="features" class="features section">
    <div class="container text-center">
        <h2 class="title">Hemen Analiz Etmeye Başlayın !</h2>
        <form action="">
            Analiz etmek istediğiniz kullanıcı: <input type="text" class="inputKullanici" name="usrname" placeholder="Örnek: {at}TweetScope">
        </form>
        <br />
        <p class="text-center">
            <a class="btn btn-cta-secondary" href="" target="_blank">Başla</a>
        </p>
    </div><!--//container-->
</section><!--//features-->
