<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="container text-center">
        <small class="copyright">© 2017 <a href="https://www.gmail.com/" target="_blank">Hüseyin ÇAMCI</a> - <a href="https://www.gmail.com/" target="_blank">Şakir DEMİRHAN</a></small>
    </div><!--//container-->
</footer><!--//footer-->
<!-- Javascript -->
