@{Html.RenderPartial("_Header");}

@*Render body*@
@RenderBody()


<script type="text/javascript" src="~/Content/plugins/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="~/Content/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="~/Content/plugins/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Content/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="~/Content/plugins/prism/prism.js"></script>
<script type="text/javascript" src="~/Content/js/main.js"></script>
</body>
</html> 